@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petrona:wght@300&family=Zen+Old+Mincho&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../src/inicio.png'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 50px;
   
}

h1{
    margin: 0;
    font-size: 10vw;
    color: red;
    font-family: 'Zen Old Mincho', serif;
    text-align: center;
    position: relative;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.842);
}

h1::after {
    content: "";
    display: block;
    width: 30%;
    height: 3px;
    background-color: red;
    position: absolute;
    left: 35%; 

}

h2{
    padding-top: 15px;
    font-family: 'Petrona', serif;
    margin: 0;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.842);
}

main {
    padding: 20px;
}

section {
    background-color: rgba(0, 0, 0, 0.281);
    padding: 20px;
    margin: 20px;
}

p {
    font-size: 1.2em;
    line-height: 1.4;
    padding: 5px;
}

.button {
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    background-color: #e74c3c; 
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    
}

.button:hover {
    background-color: #c0392b; 
}

section {
    text-align: center;
}

